body {
  margin: 0;
  padding: 0;
}

.color-fondo-negro {
  background-color: #030304;
}

.color-fondo-blanco {
  background-color: #FFFF;
}

.color-negro {
  color: #030304;
}

.color-fondo-footer {
  background-color: #030304;
}

.logo-footer {
  width: 300px;
}
